.game {
    margin: 20px auto;
    padding: 20px ;
    width: 500px;
    border-radius: 10px;
    background: #41b2b1;
}
button {
    background: #e8716b;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.number {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    background: #ffffff;
}